/00gnulib.m4
/alloca.m4
/arpa_inet_h.m4
/close-stream.m4
/closeout.m4
/eealloc.m4
/environ.m4
/errno_h.m4
/error.m4
/exitfail.m4
/extensions.m4
/fcntl-o.m4
/float_h.m4
/fpending.m4
/gnu-make.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/include_next.m4
/inline.m4
/intmax_t.m4
/localcharset.m4
/locale-fr.m4
/locale-ja.m4
/locale-zh.m4
/malloc.m4
/malloca.m4
/manywarnings.m4
/mbrtowc.m4
/mbsinit.m4
/mbstate_t.m4
/memchr.m4
/mmap-anon.m4
/multiarch.m4
/netinet_in_h.m4
/onceonly.m4
/putenv.m4
/quotearg.m4
/rawmemchr.m4
/setenv.m4
/sockpfaf.m4
/stdbool.m4
/stddef_h.m4
/stdint.m4
/stdio_h.m4
/stdlib_h.m4
/strchrnul.m4
/strerror.m4
/string_h.m4
/strndup.m4
/strnlen.m4
/sys_socket_h.m4
/threadlib.m4
/unistd_h.m4
/vasnprintf.m4
/vasprintf.m4
/warn-on-use.m4
/warnings.m4
/wchar.m4
/wctob.m4
/wctype.m4
/xalloc.m4
