/local*

*~
*.a
*.bak
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.exe
*.la
*.lo
*.log
*.o
*.trs

pod2htm?.tmp

.deps
.libs
Makefile
Makefile.in

/.gdb_history
/.git-module-status
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/build-aux
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/extra-tests/*.hive
/generator/.pod2text.data.version.2
/generator/stamp-generator
/GNUmakefile
/hivex-*.tar.gz
/html/hivex.3.html
/html/hivexget.1.html
/html/hivexml.1.html
/html/hivexregedit.1.html
/html/hivexsh.1.html
/images/large
/images/mklarge
/include/hivex.h
/install-sh
/lib/*.3
/lib/hivex.pc
/lib/hivex.pod
/lib/hivex.syms
/lib/local/hivex.pc
/lib/test-just-header
/lib/tools/*.opt
/libtool
/ltmain.sh
/m4/intmax.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/maint.mk
/missing
/ocaml/hivex
/ocaml/hivex.ml
/ocaml/hivex.mli
/ocaml/hivex_c.c
/ocaml/META
/ocaml/*.so
/ocaml/t/hivex_005_load
/ocaml/t/hivex_010_open
/ocaml/t/hivex_020_root
/ocaml/t/hivex_100_errors
/ocaml/t/hivex_110_gc_handle
/ocaml/t/hivex_120_rlenvalue
/ocaml/t/hivex_200_write
/ocaml/t/hivex_300_fold
/perl/blib
/perl/Hivex.bs
/perl/Hivex.c
/perl/Hivex.xs
/perl/lib/Win/Hivex.pm
/perl/Makefile-pl
/perl/Makefile-pl.old
/perl/Makefile.PL
/perl/MYMETA.json
/perl/MYMETA.yml
/perl/pm_to_blib
/po/*.gmo
/po/POTFILES
/po/remove-potcdate.sed
/po/stamp-it
/po/stamp-po
/po/Makefile.in.in
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/python/*.pyc
/python/__pycache__/
/python/hivex-py.c
/python/hivex
/python/run-python-tests
/regedit/hivexregedit.1
/ruby/doc/site/api
/ruby/ext/hivex/extconf.h
/ruby/ext/hivex/_hivex.bundle
/ruby/ext/hivex/_hivex.c
/ruby/ext/hivex/_hivex.so
/ruby/ext/hivex/mkmf.log
/ruby/Rakefile
/ruby/run-ruby-tests
/run
/sh/*.1
/sh/hivexsh
/stamp-h1
/sync_dir
/testcase_dir
/xml/*.1
/xml/hivexml
