*~
*.a
ABOUT-NLS
aclocal.m4
autom4te.cache
*.bak
ChangeLog
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
generator/.pod2text.data
generator/stamp-generator
hivex.pc
hivex-*.tar.gz
hivex/*.1
hivex/*.3
hivex/hivex.h
hivex/hivex.pod
hivex/hivexsh
hivex/hivexml
hivex/tools/*.opt
html/hivex.3.html
html/hivexget.1.html
html/hivexml.1.html
html/hivexsh.1.html
install-sh
*.la
.libs
libtool
*.lo
localconfigure
localrepo
ltmain.sh
m4/gnulib-cache.m4
m4/intmax.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
*.o
pod2htm?.tmp
po/*.gmo
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
po/stamp-it
po/stamp-po
po/LINGUAS
po/Makefile.in.in
po/Makevars
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
stamp-h1
/GNUmakefile
/maint.mk
/build-aux
/gnulib
.git-module-status
